# Imagenes del dataset
data/raw/
data/processed/
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.zip

# Modelos entrenados
*.pt
*.pth
*.onnx
runs/
prod/models/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
env/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/
tmp/

desktop.ini
